.Content {
  padding: 10px;
  line-height: $line-height-base;
}

.Content--hasBackground {
  background-color: $color-background-light;
}

.Content--colorBackgroundDark {
  background-color: $color-background-dark;
}

.Content--colorBackground {
  background-color: $color-background;
}