.Paper {
  padding: 10px;
  line-height: $line-height-base;
}

.Paper--colorBackgroundDark {
  background-color: $color-background-dark;
}

.Paper--colorBackground {
  background-color: $color-background;
}

.Paper--colorBackgroundLight {
  background-color: $color-background-light;
}