.AvatarImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $color-background-dark;
  vertical-align: middle;
  display: inline-block;
}

.AvatarImage__image {
  max-width: 100%;
  border-radius: 50%;
}

.AvatarImage--sm {
  width: 24px;
  height: 24px;
}

.AvatarImage--lg {
  width: 64px;
  height: 64px;
}

.AvatarImage--xlg {
  width: 96px;
  height: 96px;
}