.AvatarImage {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: $color-background-dark;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}

.AvatarImage__Image {
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}

.AvatarImage--sm {
  width: 24px;
  height: 24px;
}

.AvatarImage--lg {
  width: 64px;
  height: 64px;
}

.AvatarImage--xlg {
  width: 96px;
  height: 96px;
}