.Message {
  color: $color-text;
  font-size: $font-size-base;
}

.Message--sm {
  font-size: $font-size-small;
}

.Message--lg {
  font-size: $font-size-large;
}

.Message--xlg {
  font-size: $font-size-jumbo
}