.Message {
  color: $color-text;
  font-size: $font-size-base;
}

.Message--invert {
  color: $color-text-invert;
}

.Message--warn {
  color: $color-accent;
}

.Message--error {
  color: $color-red;
}

.Message--success {
  color: $color-green;
}

.Message--sm {
  font-size: $font-size-small;
}

.Message--lg {
  font-size: $font-size-large;
}

.Message--xlg {
  font-size: $font-size-jumbo
}