// typography
$font-family: IRANSans;
$line-height-base: 1.6;

// font-weight
$font-weight-ultralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: bold;

//font-size
$font-size-base: 14px;
$font-size-large: 18px;
$font-size-jumbo: 50px;
$font-size-small: 12px;
$font-size-tiny: 10px;
$font-size-h1: 36px;
$font-size-h2: 20px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;

//z-index
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;
$z-index-10: 1000;

//colors
$color-primary: #071024;
$color-primary-light: #343B4B;
$color-primary-dark: #070F21;

$color-accent: #f58220;
$color-accent-dark: #f58220;
$color-accent-light: #f58220;

$color-background: #f0f0f0;
$color-background-dark: #C5C5C5;
$color-background-light: #fff;

$color-text-invert: #f0f0f0;
$color-text-light: #B1B1B1;
$color-text: #555;
$color-text-dark: #272727;


